body{
    background-color:rgb(206, 190, 190);
    margin: 0; 
    padding: 0;
}

header{
    margin-top: 30px;
    display: flex; 
    justify-content: center;
}
.titulo{
    color: rgb(183, 98, 112); 
    font: 300% sans-serif; 
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    

}
h2{
    color: gray; 
    font: 150% sans-serif;
    font-weight: bold;
    display: flex; 
    justify-content: center; 
}
h3{
    color: gray; 
    font: 120% sans-serif;
    font-weight: bold;
    display: flex; 
    justify-content: center;  
}
h4{
    color: gray; 
    font: 100% sans-serif;
    font-weight: bold;
    display: flex; 
    justify-content: center;  
}
.contenedor-inputs{
    display: flex; 
    justify-content: center;

}
.contenedor-inputs input{
    margin-left: 5px; 
    margin-right: 5px;
    background-color: rgb(178, 196, 203);
    border-width: 3px;
    border-style: solid; 
    border-color: rgb(126, 138, 142);
    border-radius: 8px;
    width: 200px; 
    height: 30px; 
    text-indent: 10px;
}

.contenedor-inputs p{
    font: 100% sans-serif;
    color: rgb(39, 36, 36); 
    /* margin: 10px;  */
}

#contenedortamanio {
    display: flex; 
    justify-content: center;

}
#tamaniotabla{
 
    background-color: rgb(178, 196, 203);
    border-radius: 8px;
    width: 100px; 
    height: 30px; 
    text-indent:45px;
    border-width: 3px;
    border-style: solid; 
    border-color: rgb(126, 138, 142);
    font-size: 16px; 
    color:rgb(61, 58, 58); 
}

#boton-comenzar{
    display: flex; 
    justify-content: center;
    margin: 20px; 
    
}
button{
    background-color: rgb(167, 126, 133); 
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 8px;
    font: 100% sans-serif;
    border-style: solid; 
    border-color: rgb(127, 91, 98);
    border-width: 3px;

}

